@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ipt {
    @apply mt-1 w-full rounded-md border-[1px] border-[#E2E2E2] py-3 px-3 text-base outline-none  sm:text-xl md:px-5 md:text-lg;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 75%;
  background-color: #fcfcfc;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.ql-editor {
  min-height: 300px;
}

.question-cover {
  background-image: linear-gradient(
    rgba(252, 252, 252, 0),
    rgba(252, 252, 252, 0.8),
    #fcfcfc
  );
}

.answered-ticket {
  background-image: linear-gradient(#38f390, #005533);
}

.unanswered-ticket {
  background-image: linear-gradient(#ba3f3f, #ff7d7d);
}

.orangeBackground {
  background-image: url("./assets/icons/bgOrange.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blueBackground {
  background-image: url("./assets/icons/bgBlue.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
