@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ipt {
    @apply mt-1 w-full text-base md:text-lg sm:text-xl rounded-md border-g300 border-[1px] py-3  px-3 md:px-5 outline-none;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 75%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
