@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ipt {
    @apply mt-1 w-full text-base md:text-lg sm:text-xl rounded-md border-g300 border-[1px] py-3  px-3 md:px-5 outline-none;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 75%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.ql-editor {
  min-height: 300px;
}

.question-cover {
  background-image: linear-gradient(
    rgba(252, 252, 252, 0),
    rgba(252, 252, 252, 0.8),
    #fcfcfc
  );
}

.answered-ticket {
  background-image: linear-gradient(#38f390, #005533);
}

.unanswered-ticket {
  background-image: linear-gradient(#ba3f3f, #ff7d7d);
}
